img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.item {
  border: 2px rgba(248, 186, 141, 0.596) solid;
  text-align: center;
  flex: none;
  height: 300px;
  margin: 10px;
  margin-bottom: 100px;
  pointer-events: none;
  scroll-snap-align: start;
  width: 50%;
}

.item img {
  margin-top: 10px;
}

.item p {
  margin-top: 5px;
}
